.input-container{
    width: calc(100% - 40px);

    margin: $gutter auto;
    padding: $gutter;

    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba($shadow, $opacity);

    h3{
      display: inline-flex;
      margin-bottom: $gutter;

      a {
        margin: 0 $gutter/2;

        svg {
        
          height: 1em;
          width: 1em;

          align-self: flex-end;
        }
      }
    }

    .input-money{
      display: grid;

      span{
        font-family: 'Lato';
        font-weight: lighter;
      }
    }

    .input-balance {
      @extend .input-money;
      grid-template-columns: 20px auto;
      grid-column-gap: $gutter/4;

      span{
        font-size: 1.5em;
      }

      input {
        width: 100%;

        font-weight: lighter;
        font-size: 1.5em;
        color: $primary;
      }
    }

    .input-savings {
      grid-template-columns: auto 50px;
      grid-column-gap: $gutter/4;
      
      span{
        font-size: 1em;
        text-align: right;
      }

      input[type='range']{
        -webkit-appearance: none;
        height: 1em;
        border-radius: $border-radius;  
        background: rgba($shadow, $opacity);
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;

        align-self: end;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 1.5em;
          height: 1.5em;
          border-radius: $border-radius; 
          background: $secondary;
          cursor: pointer;
        }
        
        &::-moz-range-thumb {
          width: 1.5em;
          height: 1.5em;
          border-radius: $border-radius; 
          background: $secondary;
          cursor: pointer;
        }
      }

      .input-savings-perc {
        display: grid;
        grid-template-columns: auto 10px;
        grid-column-gap: 10px;

        input[type='number'] {
          width: 100%;
          text-align: right;
          font-size: 1em;
          color: $primary;
        }
      }
    }

    .input-header{
      display: grid;
      grid-template-columns: auto 30px;
      grid-column-gap: $gutter/4;

      svg {
        @extend .clickable;
      }
    }

    .input-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: $gutter/2 $gutter*.75;
        border: 1px solid $secondary;
        border-radius: $border-radius;

        box-shadow: 0 0 10px rgba($secondary, $opacity);
        color: $secondary;

        @extend .clickable;

        .item-header{
          display: grid;
          grid-template-columns: auto 20px 20px;
          grid-column-gap: $gutter/4;
        }
        .item-content{
          display: grid;
          grid-template-columns: auto auto;
          height: 0;
          opacity: 0;
        }

        svg {
          margin-left: auto;
          height: 1.2em;
          width: 1.2em;
          align-self: center;
        }

        h3 {
          margin: 0;
          align-self: center;
        }
        
        p, span{
          font-family: 'Lato';
          font-weight: 300;
        }
        span{
          text-align: right;
        }

        transition: all $fade*5 ease;

        &:hover{
          .item-header {
            margin-bottom: $gutter/4;
          }
          .item-content{
            height: 1em;
            opacity: 1;
          }
        }
      }

      
    }
  }