html, body {
  margin: 0;
}

.container{
  margin: 0 auto;
  padding: 0 2em;

  @include desktop{
    max-width: $desktop-width - $gutter;
  }
  @include tablet{
    max-width: $tablet-width - $gutter;
  }
}

input{
  padding: none;
  margin: none;
  border: none;
  outline: none;

  &[type="number"]::-webkit-outer-spin-button, &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type="number"] {
    -moz-appearance: textfield;
  }
}
select{
  padding: none;
  margin: none;
  border: none;
  outline: none;  
}

.align-right {
  text-align: right;
}