@mixin breakpoint($class) {
    @if $class == xs {
      @media (max-width: 767px) { @content; }
    }
   
    @else if $class == sm {
      @media (max-width: 768px) { @content; }
    }
   
    @else if $class == md {
      @media (max-width: 992px) { @content; }
    }
   
    @else if $class == lg {
      @media (max-width: 1200px) { @content; }
    }

    @else if $class == xlg {
      @media (max-width: 1400px) { @content; }
    }
   
    @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
  }

.clickable:hover {
  cursor: pointer;
}