
#modal-container{
    display: flex;
  
    position: absolute;
    height: 100vh;
    width: 100vw;
  
    text-align: center;
    align-items: center;
  
    background: rgba($shadow, $opacity);
  
    font-family: 'Varela Round';
    color: $primary;
  
    z-index: 10000;
  
    #modal {
      display: grid;
      grid-template-rows: 3em auto 50px;
  
      position: relative;
      height: 50%;
      width: 50%;
  
      margin: auto;
      padding: $gutter;
  
      background: $background;
  
      border-radius: $border-radius;
      box-shadow: 0 0 10px rgba($shadow, $opacity);
  
      .tooltip {
        color: $background;
        background: $primary;
        box-shadow: 0 0 10px rgba($shadow, $opacity);
  
        &.place-top {
          &:after {
            border-top-color: $primary !important;
            border-top-style: solid !important;
            border-top-width: 6px !important;
          }
        }
      }
  
      #modal-header {
        display: grid;
        grid-template-columns: auto 50px;
        grid-column-gap: $gutter/4;
  
        margin-bottom: $gutter;
        
        h2 {
          text-align: left;
        }
  
        svg{
          @extend .clickable;
          margin-left: auto;
        }
      }
  
      #modal-content {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;
  
        h4 {
          display: inline-flex;
          text-align: left;
          font-size: 1em;
          
          a {
            margin: 0 $gutter/2;
  
            svg {
            
              height: 1em;
              width: 1em;
    
              align-self: flex-end;
            }
          }
        }
  
        .modal-row{
          display: grid;
          grid-template-columns: 200px auto;
          grid-column-gap: $gutter/4;
  
          margin-bottom: $gutter;
        }
  
        #modal-inputs{
          margin-right: $gutter;
          min-width: 50%;
          
          input {
            font-weight: lighter;
            font-size: 1em;
          }
  
          select{
            padding: 10px;
  
            background: $background;
            border: 1px solid $primary;
            box-shadow: 0 0 10px rgba($shadow, $opacity);
  
            max-width: 200px;
            font-size: 1em;
          }
  
          .money-input{
            display: grid;
            grid-template-columns: 10px auto;
            grid-column-gap: $gutter/4;
  
            font-family: 'Lato';
            font-weight: lighter;
            font-size: 1em;
  
            span{
              align-self: center;
            }
          }
  
          .date-input {
            text-align: left;
          }
        }
  
        #modal-amounts {
          .modal-row{
            grid-template-columns: 100px 100px;
          }
          
          span{
            font-family: 'Lato';
            font-weight: lighter;
            font-size: 1em;
  
            text-align: right;
          }
        }
      }
  
      #modal-footer {
        display: flex;
        left: 0;
        bottom: 0;
  
        height: 50px;
        width: 100%;
  
        button {
          @extend .clickable;
          font-size: 1.17em;
          font-family: 'Varela Round';
  
          margin-left: auto;
          padding: $gutter/2 $gutter*.75;
          border: 1px solid $primary;
          border-radius: $border-radius;
          
          background: none;
  
          box-shadow: 0 0 10px rgba($shadow, $opacity);
          color: $primary;
  
          align-self: flex-end;
        }
      }
    }
  }