#toolbar {
    display: flex;
    justify-content: space-between;

    width: calc(100% - 40px);
    padding: $gutter;

    #toolbar-buttons {
        display: flex;
        
        button {
            font-size: 1em;
            padding: $gutter/2;
            margin: 0 $gutter/2;

            outline: none;
            background: none;

            border-radius: $gutter/2;

            color: $secondary;
            border: 1px solid $secondary;
            box-shadow: 0 0 10px rgba($secondary, $opacity);

            @extend .clickable;

            &:nth-child(1) {
                color: $primary;
                border: 1px solid $primary;
                box-shadow: 0 0 10px rgba($primary, $opacity);
            }

            &.selected {
                background: $secondary;
                color: $background;
            }
        }
    }

    #timerange {
        button {
            font-size: 1em;
            padding: $gutter/2;
            margin: 0 $gutter/2;

            outline: none;
            border: none;
            background: none;
            color: $primary;
            border-radius: $gutter/2;

            @extend .clickable;

            &.selected {
                background: $primary;
                color: $background;
            }
        }
    }
}