$gutter: 20px;
$opacity: 0.15;
$border-radius: 10px;
$fade: 0.3s;

$tablet-width: 768px;
$desktop-width: 1280px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}