@import 'fonts';
@import 'colors';
@import 'variables';

@import 'layout';
@import 'text';
@import 'mixins';

* {
  transition: all $fade ease;
}

header{
  // display: none;
  height: 20px;
}

footer{
  // display: none;
  height: 20px;
}

input {
  font-family: 'Lato';
}

button {
  font-family: 'Varela Round';
}

#main-container{
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: $gutter;
  margin: 0 $gutter*2;

  font-family: 'Varela Round';
  color: $primary;

  @include breakpoint(md) {

  }

  #input-section, #output-section {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .tooltip {
    color: $background;
    background: $primary;
    box-shadow: 0 0 10px rgba($shadow, $opacity);

    &.place-top {
      &:after {
        border-top-color: $primary !important;
        border-top-style: solid !important;
        border-top-width: 6px !important;
      }
    }
  }
}

@import 'input';
@import 'modal';
@import 'output';